<header class="header">
    <div class="lefts">
        <a href="javascript:;">
            <img src="/assets/image/logo-outline.svg" alt="" />
        </a>
        <nav class="nav-left" >
            <a [routerLink]="['/home']" class="btn btn-link" routerLinkActive="current">
                HOME
            </a>
            <a [routerLink]="['/review']" class="btn btn-link" routerLinkActive="current">
                REVIEW
            </a>
        </nav>
        <!-- end .center -->
    </div>
    <!-- end .lefts -->
    <div class="rights">
        <div class="boy-area">
            <a href="javascript:;">
                <img class="boy" src="/assets/image/boy.svg" alt="" />
                <img class="arrrow" src="/assets/image/select-arrow.svg" alt="" />
            </a>
        </div>
        <div class="setting-area">
            <a href="javascript:;">
                <img src="/assets/image/settings.svg" alt="" />
                <span class="txt">Settings</span>
            </a>
        </div>
        <div class="logout-area">
            <a href="javascript:;">
                <img src="/assets/image/logout.svg" alt="" />
                <span class="txt">Logout</span>
            </a>
        </div>
    </div>
    <!-- end .right -->
</header>
