<footer class="footer">
    <div class="lefts">
        <a href="javascript:;">
            Privacy Policy
        </a>
        <div class="line"></div>
        <a href="javascript:;">
            Terms of Use
        </a>
        <div class="line"></div>
        <a href="javascript:;">
            Contact Us
        </a>
        <div class="line"></div>
        <a href="javascript:;">
            Support
        </a>
    </div>
    <!-- end .lefts -->
    <div class="rights">
        Copyright &copy; 2018 Quartz
    </div>
    <!-- end .right -->
</footer>
